<div class="container">
  <div class="col-md-8">
    <h2>Editing Customer</h2>

    <%= render 'form', customer: @customer, class: "form-horizontal" %><hr>

    <%= link_to 'Show', @customer, class: "btn btn-success btn-sm" %> |
    <%= link_to 'Back', customers_path, class: "btn btn-info btn-sm" %>
  </div>
</div>
